/* SHARED CSS FOR ALL DASHBOARD->SELL PAGES */

/* Table Styling */
table {
    margin-left: 50px;
    margin-right: 50px;
    width: 94%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.rowHighlight:hover {
  background-color: lightblue;
}



/*  CSS FOR SALES PAGE STARTS HERE *********************************************/

.titleLine {
    margin-top:25px;
}

.headerTitle {
    margin-left: 50px;
    display: inline;
}

.btnAlignment {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

/* CONTAINER AND WRAPPER 1 */
.FlexContainer {
    margin-left: 50px;
    margin-right: 50px;
    background: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 105px;
}

/* Make Sale Styling*/
.make__sale__body{
    padding: 20px;
}

/* Left Container Styling */
.make__sale__cart__icon{
    width: 4vh;
}

.make__sale__search__conatiner{
    display: flex;
}

.make__sale__cart__icon{
    margin-right: 10px;
}

.make__sale__items{
    width: 40%;
    margin-top: 50px;
    padding: 20px;
    word-break:break-all;
    height: 500px;
    max-height: 500px;
}

.make__sale__item{
    min-width: 120px;
    min-height: 120px;
    background-color: #3a4953;
    color: white;
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}


.make__sale__item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.make__sale__item .make__sale__quantity{
    position: absolute;
    right: 10px;
}

.make__sale__item #make__sale__product{
    text-align: center;
    margin-top: 50px;
}

.make__sale__searchbar{
    min-width: 20%;
    height: 25px;
}

/* Right Container Styling  */

.make__sale__right__container{
    position: absolute;
    top: 0;
    right: 0%;
    width: 40%;
    padding: 50px;
}

.make__sale__left__container{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
}

.make__sale__extra{
    margin-left: 35px;
}

.make__sale__extra a{
    margin: 0 30px;
    font-weight: bold;
}

.make__sale__search_user{
    display: flex;
    margin-top: 70px;
    position: absolute;
    z-index: 10;
}

.customer__search{
    z-index: 10000;
}

.make__sale__search_user > img{
    height: 4vh;
    margin-right: 20px;
}

.make__sale__search_user input{
    width: 300px;
}

.make__sale__user__details{
    width: 450px;
    height: 450px;
    background-color: #ffffff;
    margin-top: 120px;
    padding: 10px;
    position: relative;
    top:60px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icons{
  width: 20px;
}

.make__sale__sale__details{
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    bottom: 20px;
    border-top: 1px solid black;
    width: 450px;
    font-weight: bold;
}

.make__sale__sale__details input{
    position: relative;
    right: -250px;
    height: 20px;
    background: transparent;
    outline:0;
    border: 1px solid black;
    width: 120px;
}

.make__sale__sale__details div{
    margin-top: 10px;
}

.make__sale__final{
    display: flex;
    width: 450px;
    position: absolute;
    bottom: -50px;
    left: 0px;
}

.make__sale__final button{
    margin-right: 10px;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    color: white;
    background-color: #2DAAD6;
    outline: none;
    font-family:TitilliumWeb-Regular;
    font-size:large;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.make__sale__final button:hover{
    background-color: #7D91D7;
}

.make__sale__final input{
    margin-left: 230px;
    background: transparent;
    outline: none;
    border: 1px solid black;
    width: 120px;
    height: 20px;
}

.make__sale__details__titles{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 10px;
}

.make__sale__details__titles h5{
    text-align: center;
}

.make__sale__cart{
    background: red;
    width: 100%;
    height: 30px;
    transition: 0.4s ease-in;
    position: relative;
}

.inner-top-cart{
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0;
}

.cart-collapse{
  float: left;
  cursor: pointer;
}

.inner-top-cart h4{
  margin: 0;
  margin-left: 20px;
}

.cart-price{
  margin: 0;
  float: right;
  position: absolute;
  right: 10px;
  top:0;
}

.make__sale__items__container{
  width: 100%;
  height: 75%;
  max-height: 875;
  background: blue;
  overflow: auto;
}

.make__sale__item-info{

}

.make__sale__customer{
    margin-top: -5px;
}

.change__customer{
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
    height: 30px;
    border-radius: 12px;
    color: white;
    background-color: #2DAAD6;
    outline: none;
    font-family:TitilliumWeb-Regular;
    font-size:large;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.change__customer:hover{
    background-color: #7D91D7;
}


/* CSS FOR SALES PAGE ENDS HERE ***************************************************/
